body {
  background-color: #222222;

  color: #EEEEEE;
  font-family: Coustard, Verdana;

  font-size: 30px;
}

header, #fetch {
  text-align: center;
}

#term, #search {
  font-size: 30px;
}

#footer, #overview {
  font-size: 20px;
}

