body, .container {
  background-color: #222222;

  color: #EEEEEE;
  font-family: Coustard, Verdana;

  font-size: 25px;
}

header, #fetch, .center {
  text-align: center;
}

#term, #search {
  font-size: 30px;
}

#term {
  width: 25em;
}

#footer, #overview {
  font-size: 20px;
}

#less, #more {
    vertical-align: top;
    width: 50px;
    height: 50px;
    font-size: 30px;
}


.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}
